@model IEnumerable<EmployeeCRUD.Models.Designation>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        @{
            if (TempData["error"] != null)
            {
                <div class="alert alert-danger notification text-center">
                    @TempData["error"];
                </div>
            }
            if (TempData["success"] != null)
            {
                <div class="alert alert-success notification text-center">
                    @TempData["success"];
                </div>
            }
        }
        <div class="col-6 offset-3">
         <h3 class="text-center text-primary">Designation Details</h3>
         <a class="btn btn-sm btn-primary float-end p-2 m-3" asp-action="Create" asp-controller="Designation">Add Designation</a>
        <table class="table table-bordered table-hover tablefades table-striped">
            <thead>
                <tr class="text-center text-light bg-dark">
                        <th>Id</th>
                        <th>Designation</th>
                        <th>Action</th>
                </tr>
            </thead>
            <tbody class="text-center">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>
                                <a asp-action="Edit" asp-controller="Designation" class="btn btn-sm btn-success" asp-route-id="@item.Id">Edit</a>
                                <a asp-action="Delete" asp-controller="Designation" class="btn btn-sm btn-danger" asp-route-id="@item.Id" onclick="return confirm('are you sure,you want to delete parmanent')">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
        </table>
     </div>
    </div>
</div>

